Repository kiyo4act/misskey.design, pull requests merged in 2023-05, with the labels that each got.

#1 ノートの検索をローカル/リモート/全てで分けられるように変更
  packages/backend/src/server/api/endpoints/notes/search.ts
  packages/frontend/src/pages/search.vue
Labels: ⚙️Server, 🖥️Client

#2 Remove nyaize text logic
  packages/backend/src/core/entities/NoteEntityService.ts
Labels: ⚙️Server

#3 通報の初期コメントにユーザーIDを追加
  packages/frontend/src/scripts/get-note-menu.ts
Labels: 🖥️Client

#4 画像差し替え
  packages/backend/assets/apple-touch-icon.png
  packages/backend/assets/favicon.ico
  packages/backend/assets/favicon.png
  packages/backend/assets/icons/192.png
  packages/backend/assets/icons/512.png
  packages/backend/assets/splash.png
  packages/backend/src/server/web/manifest.json
  packages/backend/src/server/web/views/base.pug
  packages/frontend/src/components/global/MkError.vue
  packages/frontend/src/pages/_error_.vue
Labels: ⚙️Server, 🖥️Client

#5 OGPプレビュー追加
  packages/frontend/src/components/MkNotePreview.vue
Labels: 🖥️Client

#6 リモートユーザーを通報した場合に対応
  packages/frontend/src/scripts/get-note-menu.ts
Labels: 🖥️Client

#7 「Misskeyを気に入っていただけましたか？」の文面変更
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/frontend/src/components/MkDonation.vue
Labels: 🖥️Client, ‼️ wrong locales

#8 ルビ表記に対応
  packages/frontend/src/components/mfm.ts
Labels: 🖥️Client

#9 繋がりが非公開の場合は"非公開"と表示するように変更
  packages/frontend/src/components/MkUserPopup.vue
  packages/frontend/src/pages/user/home.vue
Labels: 🖥️Client

#10 通報画面からユーザー情報に飛ぶとデフォルトでファイル一覧が見れるように変更
  packages/frontend/src/pages/user-info.vue
Labels: 🖥️Client

#12 メディアタイムライン追加
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/notes/media-timeline.ts
  packages/backend/src/server/api/stream/ChannelsService.ts
  packages/backend/src/server/api/stream/channels/media-timeline.ts
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/tl-column.vue
  packages/frontend/src/widgets/WidgetTimeline.vue
  packages/misskey-js/src/streaming.types.ts
Labels: ⚙️Server, 🖥️Client, ‼️ wrong locales
